body {
    background-color: pink;
    font-family: Verdana ,Arial, sans-serif;
    color:#675020;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 25px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
}

.p-text {
    text-align: center;
}

.home {
    font-size: 30px;
    margin-inline: 455px;
}

.recipes{
    font-size: 25px;
    margin-inline: 455px;
    padding-top: 2px;
}



ul {
    text-align: center;
    list-style: inside;
    background: #c08529;
    padding: 20px;
    border-style: dotted;
    

}
ul li {
    display: block;
    background: #d8a741;
    color: #675020;
    margin: 5px;
}

ol{
    text-align: left;
    background: #c08529;
    border-style: dotted;
    
}

ol li {
    background: #d8a741;
    margin-left: 1px;
    color: #675020;
}



.homebutton {
    text-align: center;  
    width: 150px;  
    height: 70px;
    margin: auto;
    
}

button {
    font-size: 25px;
    background-color: #c08529;
}

